@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@font-face {
    font-family: 'TT Commons';
    src: local('TT Commons Light'), local('TTCommons-Light'),
        url('../fonts/TTCommons-Light.woff') format('woff'),
        url('../fonts/TTCommons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: local('TT Commons Regular'), local('TTCommons-Regular'),
        url('../fonts/TTCommons-Regular.woff') format('woff'),
        url('../fonts/TTCommons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: local('TT Commons Bold'), local('TTCommons-Bold'),
        url('../fonts/TTCommons-Bold.woff') format('woff'),
        url('../fonts/TTCommons-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: local('TT Commons Medium'), local('TTCommons-Medium'),
        url('../fonts/TTCommons-Medium.woff') format('woff'),
        url('../fonts/TTCommons-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



.container {
    margin-right: auto;
	margin-left: auto;
	max-width: 1100px;
}

.d-none {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #ebecf0;
    color: #092C4C;
}

ul {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

header {
    background-color: #fff;
    padding: 10px 0;
    font-family: 'Inter';
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: 0px 8px 40px rgba(9, 44, 76, 0.16);
    width: 1100px;
}

.opacity-zero {
    height: 0;
    opacity: 0;
}

.header-box {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
}

.nav-item {
    margin: 0 30px;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.6s;
    position: relative;
}

.nav-item::after {
    bottom: -5px;
	content: "";
	display: block;
	height: 1.5px;
	left: 50%;
	position: absolute;
	background: #092C4C;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.nav-item:nth-child(1) {
    animation: showContent 0.6s ease normal both;
	animation-delay: 0.2s;
}

.nav-item:nth-child(2) {
    animation: showContent 0.6s ease normal both;
	animation-delay: 0.4s;
}

.nav-item:nth-child(3) {
    animation: showContent 0.6s ease normal both;
	animation-delay: 0.6s;
}

.active::after {
    bottom: -5px;
	content: "";
	display: block;
	height: 1.5px;
	width: 100% !important;
	left: 0;
	position: absolute;
	background: #092C4C;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.nav-item:hover::after {
    width: 100%;
	left: 0;
}

.page-content {
    background-color: #fff;
    width: 1100px;
    min-height: 400px;
    min-height: 700px;
    border-radius: 30px;
    box-shadow: 0px 8px 40px rgba(9, 44, 76, 0.16);
    font-family: 'TT Commons';
    padding: 40px 80px;
    margin-bottom: 40px;
}

.page-title {
    font-weight: 500;
    font-size: 45px;
    margin: 0;
    animation: showContent 0.6s ease normal both;
	animation-delay: 0.6s;
}

.page-desc {
    font-size: 19px;
    animation: showContent 0.6s ease normal both;
	animation-delay: 0.8s;
}

.calc-formula {
    margin-top: 40px;
}

.calc-title {
    font-weight: 500;
    font-size: 28px;
    animation: showContent 0.6s ease normal both;
	animation-delay: 1s;
}

.formula {
    animation: showContent 0.6s ease normal both;
	animation-delay: 1.2s;
}

.formula-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    animation: showContent 0.6s ease normal both;
	animation-delay: 1.4s;
}

.formula-form label {
    font-size: 28px;
    margin-top: 3px;
}

.formula-form input {
    font-family: 'Inter';
    margin-left: 10px;
    margin-right: 20px;
    outline: none;
    border: 1px solid rgba(9, 44, 76, 0.2);
    border-radius: 4px;
    height: 26px;
    font-size: 18px;
    padding-left: 3px;
    width: 100px;
}

button {
    color: white;
    background-color: #092C4C;
    padding: 7px 12px 4px 12px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.formula-form button:hover {
    opacity: 0.9;
}

.formula-box {
    margin-top: 20px;
    padding: 20px 15px;
    background-color: rgba(9, 44, 76, 0.15);
    border-radius: 15px;
    width: fit-content;
    min-width: 200px;
    transition: 0.5s;
}

.formula-anwer {
    font-size: 32px;
    position: relative;
    margin: 0;
}

.formula-anwer sup {
    font-size: 18px;
    position: absolute;
    top: 8px;
    left: 20px;
}

.formula-anwer sub {
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.form-ans {
    margin-left: 25px;
}

.button-see {
    margin-top: 20px;
}

.ans-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

textarea {
    margin-top: 10px;
    padding: 15px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgba(9, 44, 76, 0.15);
    resize: none;
    width: 450px;
    height: 400px;
    font-family: monospace;
    color: #092C4C !important;
}

textarea::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
  }
  
textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #A8A8A8;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
    border-radius: 10px;
    background-color: #f9f9fd;
}

.created-by {
    position: absolute;
    bottom: 15px;
    right: 40px;
    color:rgba(9, 44, 76, 0.45);
    font-family: 'Inter';
    font-size: 14px;
    z-index: -1;
}

.person-link {
    text-decoration: underline;
}

@keyframes showContent {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}